ATTN_API_ID=123456
ATTN_API_HASH=your_telegram_api_hash_here
ATTN_PHONE=+79991234567
ATTN_SESSION_NAME=
ATTN_MONITORED_CHAT_ID=
ATTN_MONITORED_CHAT_TITLE=
ATTN_ALERT_TEXT="ВНИМАНИЕ, ПИШЕТ ЛЮБИМАЯ ДЕВУШКА, СРОЧНО СВЕРНИ ВСЕ ДЕЛА И ПОГОВОРИ С НЕЙ"